*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    justify-content: center;
    display: flex;
    align-items: center;
}

.number{
    font-size: 200px;
    text-align: center;
    color: rgb(161, 161, 253);
    margin-bottom: 60px;
    transition: color 0.3s ease;
}
.container{
    margin: 15px;
    padding:100px;
    display: flex;
    flex-direction: column;
    border-width: 5px;
    border-style:double;
    border-color:rgb(0, 0, 255);

}
.buttons{
    display: flex;
    flex-direction: row;
}
.dec,.inc,.res{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style:groove;
    border-width: 2px;
    border-radius: 5px;
    border-color:rgb(0, 0, 255);
    margin-top:10px;
    padding: 15px;
}
.decrease,.increase,.reset{
    height:75px;
    width:75px;
    border-radius: 50px;
}
.btn1,.btn2,.btn3{
    width:270px;
    height: 80px;
    padding: 12px;
    font-size: 35px;
    font-weight: 600;
    border-radius: 10px;
    margin: 20px;
    background-color: rgb(174, 245, 234);
    border-style:groove;
    border-color: white;
    border-width: 5px;
}

.btn1:hover,.btn2:hover,.btn3:hover{
    background-color: rgb(0, 255, 217);
}

.number:hover{
    color: rgb(136, 0, 255);
}